<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.energyzo.javaproject.model.SellerRepository">
	
	<!-- 부동산 매물 입력 -->
	<insert id="insertOneItem" parameterType="com.energyzo.javaproject.model.vo.EstateVO">
		INSERT INTO ESTATE_TB	(	
								est_id
								,agent_num
								,est_reg_date
								,est_type
								,est_tra_type
								,est_tra_cond
								,est_addr
								,est_m_area
								,est_m_floor
								,est_jungong
								)
		VALUES	(	
				SEQ_ESTATE_TB.nextval
				,#{agent_num}
				,sysdate
				,#{est_type}
				,#{est_tra_type}
				,#{est_tra_cond}
				,#{est_addr}
				,#{est_m_area}
				,#{est_m_floor}
				,#{est_jungong}
				)		 
	</insert> 
	
	<!-- 부동산 매물의 최근 id 조회 -->
	<select id="searchLastEstId" resultType="com.energyzo.javaproject.model.vo.EstateVO">
		SELECT 	Max(est_id) as est_id
		FROM 	ESTATE_TB
	</select>

	<!-- 부동산 매물에 이미지 입력 -->
	<insert id="insertOneItemImage" parameterType="com.energyzo.javaproject.model.vo.EstateImgDTO">
		INSERT INTO est_pic_tb	(	
								PIC_NUM
								,EST_ID 
								,FNAME 
								,REALFNAME
								)
		VALUES	(	
				seq_est_pic_tb.nextval
				,#{est_id}
				,#{fname}
				,#{realfname}
				)
	</insert>
	
	<!-- 부동산 매물에 옵션 입력 -->
	<insert id="insertOption" parameterType="com.energyzo.javaproject.model.vo.EstOptionVO">
		INSERT INTO EST_OPT_TB	(
								EST_OPT_MAN_NUM
								,EST_ID 
								,EST_OPT_NUM 
								)
		VALUES	(
			seq_est_opt_tb.nextval
			,#{est_id}
			,(	SELECT EST_OPT_NUM 
				FROM EST_OPT_LIST_TB 
				WHERE est_opt_name = #{est_opt_name})
		)
	</insert>




<!-- 부동산 매물 정보 수정 -->
<update id="updateItem" parameterType="com.energyzo.javaproject.model.vo.EstateVO">
    UPDATE ESTATE_TB
    SET 
        agent_num = #{agent_num},
        est_type = #{est_type},
        est_tra_type = #{est_tra_type},
        est_tra_cond = #{est_tra_cond},
        est_addr = #{est_addr},
        est_m_area = #{est_m_area},
        est_m_floor = #{est_m_floor},
        est_jungong = #{est_jungong}
    WHERE 
        est_id = #{est_id}
</update>


<!-- 기존 옵션을 삭제하는 쿼리 -->
<delete id="deleteOptions" parameterType="java.lang.Integer">
    DELETE FROM EST_OPT_TB
    WHERE EST_ID = #{est_id}
</delete>

<update id="updateCompletionDate" parameterType="int">
    UPDATE ESTATE_TB
    SET est_tra_com_date = sysdate
    WHERE est_id = #{est_id}
</update>





</mapper>
